.submit:hover{
    background-color:rgb(191, 229, 218)
}


  #categories{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6,1fr);
  }
  .item{
    /* border: 2px solid black; */
    /* background-color: #E37A67; */
    height: 350px;
    width: 310px;
    /* border-radius: 10px; */
}
/* img{
  transition: width 1s,;
}
img:hover{
  width: 550px;
} */
#logo{
  height: 150px;
  width: 250px;
  margin-left: 10px;
}
#navbar{
  text-indent: 50px;
  font-size: 35px;

  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Barlow Condensed', sans-serif; */
  font-family: 'Patrick Hand', cursive;
}

 #Home:hover{
  color: salmon
}
#Blogs:hover{
  color: salmon
}
#BabyCare:hover{
  color: salmon
}
#Gifts:hover{
  color: salmon
}
#ContactUs:hover{
  color: salmon
}
#Prepartum:hover{
  color: salmon
} 


footer{
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  height: auto;
  text-align: center;
  /* width: 500px; */

  padding-top: 40px;
  color: black;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: black;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: black;
  border: 1.1px solid black;
  padding: 5px;

   border-radius: 50%; 

}
.socials a i{
  font-size: 1.1rem;
  width: 50px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: orange;
}

.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

#babycare,#babycare2,#babycare3,#babycare4,#babycare5,#prepartum1,#prepartum2,#prepartum3,#prepartum4,#prepartum5{
  height: 290px;
  width: 310px;
  /* border-radius: 20px; */
  border: 5px solid black;
} 
p{
  font-size: 30px;
  text-align: center;

} 

#info{
  font-family: 'Croissant One', cursive;
  font-size: 30px;
}
#confused{
width: 100%;
margin-top: 15px;
border: 2px solid black;
}